.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* overall app background */
.App-header {
  background: linear-gradient(to bottom, #EDB376, #F48346);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* align items vertically */
  justify-content: center; /* align items horizontally */
  font-family: "Jersey 10";
  font-size: calc(10px + 2vmin);
  letter-spacing: 2px; /* spacing between letters */
  color: white;
}

/* used as a simple wrapper for the title texts */
.text-wrapper {
  position: relative;
  display: inline-block;
}

/* shadow of title */
.back-title {
  position: absolute;
  color: #D35E2C;
  top: 5px;
  right: 5px;
  z-index: 0; /* determines order/stack of items */
  font-size: 70px;
  white-space: nowrap;
}

/* actual title */
.front-title {
  position: relative;
  z-index: 1; /* determines order/stack of items */
  font-size: 70px;
}

/* contains rest of components */
.text-box {
  background-color: #F18D5E;
  border: 8px solid #D45114;
  border-radius: 20px;
  padding: 20px;
  width: 800px;
  height: 380px;
  margin: 0 auto 50px auto;
}

/* for welcome text */
.welcome-text {
  font-size: 35px;
  margin-top: 0px;
}

/* for box that contains welcome text */
.welcome-box {
  background-color: #E65340;
  border: 4px solid #C13737;
  border-radius: 10px;
  padding: 20px;
  width: 650px;
  height: 70px;
  margin: 0 auto 0 auto;
}

/* for username/password text */
.user-pass-text {
  font-size: 35px;
  line-height: 1px;
}

/* for username/password input box */
.form-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* text of what user types in input box */
.input-field {
  background-color: #F3E0A9;
  border: 3px solid #D28B4E;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Jersey 10';
  font-size: 25px;
  margin-bottom: 10px;
  width: 350px;
  text-align: center;
}

/* placeholder text inside input box */
.input-field::placeholder {
  font-family: 'Jersey 10';
  font-size: 25px;
  color: black;
  opacity: 40%;
  text-align: center;
}

/* button */
.button-box {
  background-color: #EB4B4B;
  border: 6px solid #B21F1F;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  height: 90px;
  
  /* display of text inside box */
  display: flex;
  align-items: center;
  justify-content: center;

  /* text */
  font-family: 'Jersey 10';
  font-size: 55px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
