/* makes sure everything covers the whole page */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  background: linear-gradient(to bottom, #FBC388, #F4854A);
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* align items vertically */
  justify-content: center; /* align items horizontally */
  font-family: "Jersey 10";
  font-size: calc(10px + 2vmin);
  letter-spacing: 2px; /* spacing between letters */
  color: white;
  position: relative; /* needed in order to use z-index */
  z-index: 1; /* so that content is in front of blocks */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* all classes below were made and not from default */

/* blocks for background aesthetics */
.red-block {
  position: fixed;
  background-color: #F05353;
  width: 600px;
  height: 100px;
  z-index: 0; /* so that blocks are behind App-header content */
}
.red-orange-block {
  position: fixed;
  background-color: #F07853;
  width: 450px;
  height: 130px;
  z-index: 0; /* so that blocks are behind App-header content */
}
.orange-block {
  position: fixed;
  background-color: #F09053;
  width: 400px;
  height: 130px;
  z-index: 0; /* so that blocks are behind App-header content */
}

/* used as a simple wrapper for the title texts */
.text-wrapper {
  position: relative;
  display: inline-block;
}

/* shadow of title */
.back-title {
  position: absolute;
  color: #D35E2C;
  top: 5px;
  right: 5px;
  z-index: 0; /* determines order/stack of items */
  font-size: 70px;
  white-space: nowrap;
}

/* actual title */
.front-title {
  position: relative;
  z-index: 1; /* determines order/stack of items */
  font-size: 70px;
}

/* contains rest of components */
.text-box {
  background: linear-gradient(to bottom, #F18D5E, #EF6F34);
  border: 8px solid #C13D00;
  border-radius: 20px;
  padding: 20px;
  width: 800px;
  height: auto;
  margin: 0 auto 50px auto;
}

/* for welcome text */
.welcome-text {
  font-size: 35px;
  margin-top: 0px;
}

/* for box that contains welcome text */
.welcome-box {
  background-color: #E65340;
  border: 4px solid #C13737;
  border-radius: 10px;
  padding: 20px;
  width: 650px;
  height: 70px;
  margin: 0 auto 20px auto;
}

/* for the button that leads to the create account page */
.create-acct-button {
  background-color: #EB4B4B;
  border: 4px solid #B21F1F;
  border-radius: 10px;
  padding: 20px;
  width: 550px;
  height: 50px;
  margin: 0 auto 0 auto;

  /* display of text inside box */
  display: flex;
  align-items: center;
  justify-content: center;

  /* text */
  font-family: 'Jersey 10';
  font-size: 25px;
  color: white;
}

/* for username/password text */
.user-pass-text {
  font-size: 35px;
  line-height: 1px;
}

/* for username/password input box */
.form-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* text of what user types in input box */
.input-field {
  background-color: #F3E0A9;
  border: 3px solid #D28B4E;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Jersey 10';
  font-size: 25px;
  margin-bottom: 10px;
  width: 350px;
  text-align: center;
}

/* placeholder text inside input box */
.input-field::placeholder {
  font-family: 'Jersey 10';
  font-size: 25px;
  color: black;
  opacity: 40%;
  text-align: center;
}

/* button */
.button-box {
  background-color: #EB4B4B;
  border: 6px solid #B21F1F;
  border-radius: 20px;
  padding: 20px;
  width: auto;
  height: auto;
  
  /* display of text inside box */
  display: flex;
  align-items: center;
  justify-content: center;

  /* text */
  font-family: 'Jersey 10';
  font-size: 55px;
  color: white;
}
