/* makes sure everything covers the whole page */
@import "tailwindcss";

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Make buttons actually "click in" */
button:active {
    transform: scale(0.97);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

button.no-shadow:active {
    box-shadow: none;
}

button {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    cursor: pointer;
}
  

.App {
    height: 100%;
    background: linear-gradient(to bottom, #FBC388, #F4854A);
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
    letter-spacing: 2px; /* spacing between letters */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* align items vertically */
    justify-content: center; /* align items horizontally */
    font-family: "Jersey 10";
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative; /* needed in order to use z-index */
    z-index: 1; /* so that content is in front of blocks */
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
